.history
.DS_Store

front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pids
front/*.pid
front/*.seed
front/*.pid.lock
front/lib-cov
front/coverage
front/.nyc_output
front/.grunt
front/bower_components
front/.lock-wscript
front/build/Release
front/node_modules/
front/jspm_packages/
front/typings/
front/.npm
front/.eslintcache
front/.node_repl_history
front/*.tgz
front/.yarn-integrity
front/.env
front/.cache
front/.next
front/.nuxt
front/dist
front/.vuepress/dist
front/.serverless
front/.idea
front/sw.*
front/.DS_Store
front/*.swp

back/.bundle
back/log/*
back/tmp/*
back/!/log/.keep
back/!/tmp/.keep
back//tmp/pids/*
back/!/tmp/pids/
back/!/tmp/pids/.keep
back//storage/*
back/!/storage/.keep
back/tmp/storage/*
back/!/tmp/storage/
back/!/tmp/storage/.keep
back//config/master.key
